@use 'hero';
@use 'button';
@use 'programacao';
@use 'event';
@use 'footer';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: #000;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px){
        width: 80%;
    }

    @media (max-width: 1024px){
        width: 80%;
    }
}